# GISTIC.R
export(champToGistic)
export(segToMarkers)
export(conumeeToGISTIC)
export(sequenzaToGistic)
# DMRs.R
export(plotVolcano)
export(plotDMR)
# plotFromSeg.R
export(plotByChrom)
export(plotAbber)
# plotHighlighted.R
export(highlightInds)
# runMinfiEPIC.R
export(runMinfi)
export(runDMR)
# runCombat.R
export(logit)
export(invlogit)
# minfi.R
export(minfiPipeline)
# DMRanalysis.R
export(preDMR)
export(DMRinfo)
# bumps.R
export(getBumpLimsWindow)
# PMDs.R
export(definePMDs)

importFrom('conumee','CNV.create_anno','CNV.load','CNV.fit',
	'CNV.bin','CNV.detail','CNV.segment','CNV.genomeplot')
importFrom('minfi','read.metharray.sheet','read.metharray.exp',
	'preprocessRaw','mapToGenome','qcReport',
	'preprocessFunnorm','getM','getBeta','dropLociWithSnps',
	'pData','dmpFinder','bumphunter','detectionP','getManifest',
	'getAnnotation')
importFrom('GenomicRanges','granges')
importFrom('stats','model.matrix')
importFrom('sva','sva','ComBat')
importFrom('doParallel','registerDoParallel')
importFrom('copynumber','plotAberration')
importFrom('FactoMineR','HCPC')
import('CopyNumber450kData')
import('org.Hs.eg.db')
import('AnnotationDbi')
importFrom("parallel","mclapply","detectCores")
